.userContainer img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.selected{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.span{
    cursor: pointer;
    margin: 3px;
}