:focus {
    outline: none;
    background-color: gainsboro;
}
.formControl.error input,
.formControl.error textarea {
    border: red 2px solid;
}

.formControl.error span {
    color: red;
}
.formSummaryError {
    color: red;
    border: red 2px solid;
    padding: 5px;
}