.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs__items{
    padding: 10px;
}
.newMessageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.newMessageContainer textarea {
    width: 400px;
    height: 20px;
    margin-right: 10px;
}
.newMessageContainer button {
    height: ;
}
